/* gridstack.css - GridStack CSS styles */

a {
  text-decoration: none;
}

.grid-stack {
  background: #fafad2;
}

.grid-stack.grid-stack-static {
  background: #eee;
}

.grid-stack-item,
.grid-stack-item-content {
  text-align: center;
  background-color: #fffff6;
}

.grid-stack-item-removing {
  opacity: 0.5;
}

/* make nested grid have slightly darker bg take almost all space (need some to tell them apart) so items inside can have similar to external size+margin */
.grid-stack > .grid-stack-item.grid-stack-sub-grid > .grid-stack-item-content {
  background: rgba(0, 0, 0, 0.1);
  inset: 0 2px;
}

.grid-stack.grid-stack-nested {
  background: none;
  inset: 0;
}
